*{
margin: 0;
padding: 0;
box-sizing: border-box;
max-width: 100%;
}
html{
scroll-behavior: smooth;
}
/* HEADER */
.up-top{
    padding: 1.5rem 6.67%;
    background-color: rgba(245, 238, 235, 1);
    }
    header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    }
    ul{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    }
    ul a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: rgba(102, 102, 102, 1);
    }
    .active{
    color:rgba(155, 72, 25, 1);
    }
    li{
    list-style-type: none;
    }
    li:hover a{
        text-decoration: underline solid 2px rgba(155, 72, 25, 1);
        color: rgba(155, 72, 25, 1);
    }
    .nav{
        width: 52%;
    }
    input[type="checkbox"] {
        display: none;
      }
      
      .hamburger {
        display: none;
        cursor: pointer;
        user-select: none;
        position: relative;
        z-index: 3;
      }
      
      .line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
        border-radius: 200px;
        transition: all 0.5s ease-out;
      }
      
      .line:not(:last-child) {
        margin-bottom: 5px;
      }
    @media screen and (max-width:700px) {
        .nav-menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;
            width: 100%;
            height: 100vh;
        }
        .nav {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 100%;
            background: rgba(245, 238, 235, 1);
            transition: all 0.5s ease-out;
            z-index: 1;
        }
        input[type="checkbox"]:checked ~ .nav {
            left: 0;
          }
        
          input[type="checkbox"]:checked ~ .hamburger .line:first-child {
            transform: translateY(4px) rotate(135deg);
          }
        
          input[type="checkbox"]:checked ~ .hamburger .line:nth-child(2) {
            display: none;
          }
        
          input[type="checkbox"]:checked ~ .hamburger .line:nth-child(3) {
            transform: translateY(-4px) rotate(-135deg);
          }
        
          .hamburger {
            display: block;
        }
    }   
    @media screen and (max-width:1024px){
        ul{
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width:800px){
        ul{
            font-size: 1.1rem;
        }
    }
/* PAGE BODY TOP */
.mid{
display: flex;
justify-content: space-between;
}
.mid-text h1 {
font-family: 'Radley', serif;
font-style: italic;
font-size: 3.4rem;
padding-bottom: 1.5rem;
font-weight: 400;
letter-spacing: 0.2%;
line-height: 70px;
}
.mid-text p{
padding: 0 2rem 1rem 0;
font-family: 'PT Sans', sans-serif;
font-style: normal;
font-size: 1.5rem;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.5px;
}
.mid-text h1 a{
text-decoration: none;
color: rgba(155, 72, 25, 1);
font-family: serif;
}
.mid-text{
width: 51%;
}
/* BUTTON */
.mid-top-btn{
padding: 12px 32px;
background-color: rgba(155, 72, 25, 1);
font-size: 20px;
line-height: 23px;
font-weight: 400;
border-radius: 12px;
border: solid 0px rgba(155, 72, 25, 1);
box-shadow: 0 6px 	rgb(0,0,0);
}
.mid-top-btn:hover{
    background-color: 	rgb(10, 30, 10);
}
.mid-top-btn a{
text-decoration: none;
color: rgba(255, 255, 255, 1);
font-family: 'Radley', serif;
}
/* MID IMAGE CONTAINER */
.mid-image-container{
width: 40%;
}

/* MAIN-BODY */
.main-body{
background-color: rgba(235, 218, 209, 1);
position: relative;
overflow: hidden;
height: 971px;
}
.main-body:hover img{
    transform: rotate(180deg);
}

.main-body img{
    animation-timing-function: linear; 
    transition: transform 2s linear;
}
.t-one:hover img,.t-two:hover img,.t-three:hover img{
    transform: scale(1.1), rotate(180deg);
}
.t-one{
    position: absolute;
    top: 20px;
    left: 0;
}
.t-two{
    display: flex;
    justify-content: center;
    gap: 2%;
    position: absolute;
    top: 0;
    left: 30%;
}
.t-three{
    position: absolute;
    top: 36.5px;
    right: 0;
}
.mid-one{
    position: absolute;
    top: 330px;
    left: 15.625%;
}
.mid-two{
    position: absolute;
    top: 481px;
    left: 35%;
}
.mid-three{
    position: absolute;
    top: 343px;
    left: 54%;
}
.mid-four{
    position: absolute;
    top: 360px;
    right: 0;
}
.bottom-one{
    position: absolute;
    top: 673px;
    left: 0;
}
.bottom-two{
    position: absolute;
    top: 673px;
    left: 66.875%;
}
.mob-only{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3%;
    gap: 3.3%;
    background-color: rgba(255, 255, 255, 1);
}   
.mob-only{
    display: none;
}
.mob-only h1{
    font-family: 'Radley' serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(155, 72, 25, 1);
    padding-bottom: 2rem;
}
.one, .two, .three, .four{
    margin: 0 auto;
    width: 40%;
    border-bottom: 3px solid #000000;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    /* margin-bottom: 2rem; */
}
.row{
    display: flex;
}
/* FOOTER */
footer{
    padding: 3rem 6.67%;
    background-color: rgb(25,25,25);
}
.footer-h2 h2{
    font-family: 'Radley', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255,255,255);
    padding-bottom: 1.5rem;
}
.left{
    width: 50%;
}
.left hr{
    border-bottom: 1.5px solid rgb(189,143,83);
    width: 100%;
    margin-bottom: 1.5rem;
}
footer p{
    font-family: 'Radley', serif;
    font-size: 21px;
    font-weight: 400;
    color: rgb(255,255,255);
    padding-bottom: 1.5rem;
}
.socials-container{
    display: flex;
    gap: 20px;
}
.right{
    margin-left: 60%;
}
.parent{
display: flex;
padding-bottom: 10px;
}
.icon img{
height: 55px;
width: 55px;
}
.icon{
height: 60px;
overflow: hidden;
border-radius: 50%;
}
.contact{
padding-left: 20px;
color: rgba(255, 255, 255, 1);
font-size: 1rem;
line-height: 30px;
}
.contact p{
    font-size: 1rem;
    font-style: italic;
}
.d{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/* FOOTER RESPONSIVENESS */
@media screen and (max-width:1024px){
    .left{
        width: 100%;
    }
    .footer-h2{
        font-size: 28px;
    }
    footer p{
        font-size: 1.8rem;
    }
    .socials-container{
        justify-content: center;
    }
    .right{
        margin: 1rem 0;

    }
    .contact-me{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:768px){
    .footer-h2{
        font-size: 22px;
        font-weight: 200;
    }
    footer p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:500px){
    .footer-h2{
        font-size: 18px;
    }
    footer p{
        font-size: 1rem;
    }
    .socials-container{
        margin-bottom: 1.5rem;
    }
    .parent{
        flex-direction: column;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
    .icon img{
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }
    .contact-me{
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    .contact{
        padding-left: 0;
        font-size: 10px;
        width: 100%;
    }
    .contact h3{
        font-size: 18px;
    }
}

@media screen and (max-width:359px){
    .contact-me{
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .contact{
        font-size: 12px;
    }
    .icon{
        margin: 0 auto;
        padding-bottom: 1rem;
    }
    .socials-container{
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
}
/* MEDIA QUERIES */
@media screen and (max-width:1024px){
    .mid-text h1{
        font-size: 2.5rem;
        line-height: normal;
    }
    .main-body {
        height: 920px;
    }
    .main-body img{
        height: 250px;
    }
}

    /* MEDIA QUERIES */
    @media screen and (max-width:1160px){
        /* UP TOP TEXT */
        .mid-text{
            width: 53%;
        }
    } 
    @media screen and (max-width:1000px){
        /* NAVBAR */
        .header-text ul li a{
            font-size: 1.2rem;
        }
        .mid-text h1{
            font-size: 2.8rem;
            padding-bottom: 1rem;
        }
        .mid-text p{
            font-size: 1.3rem;
        }
        .mid-one{
            left: 8%
        }
        .mid-two{
            left: 32%;
        }
    }
    @media screen and (max-width:900px){
        .mid-text h1{
            font-size: 2.6rem;
        }
        .mid-top-btn{
            padding: .5rem 1rem;
        }
    }

    @media screen and (max-width:850px){
        .mid-text h1{
            font-size: 2.4rem;
            padding-bottom: .7rem;
        }
        .mid-text p{
            font-size: 1.2rem;
            line-height: normal;
        }
        .mid-one{
            left: 5%
        }
        .mid-two{
            left: 29%;
        }
        .mid-three{
            left: 54%;
        }
    }
    @media screen and (max-width:800px){
        .main-body{
            height: 880px;
        }
        .main-body img{
            height: 210px;
        }
        .mid-text h1{
            font-size: 2rem;
            line-height: normal;
        }
    }
    /* MOBILE SCREENS */
    @media screen and (max-width:768px){
        .main-body{
            display: none;
        }
        .mob-only{
            display: block;
        }
    }
    @media screen and (max-width:700px){
    .mid{
        flex-direction: column;
        width: 100%;
    }
    .mid-text{
        text-align: center;
        width: 100%;
    }
    .mid-image-container{
        width: 100%;
    }
    .mid-top-btn{
        margin: 0 auto;
    }
    .mob-only img{
        height: 250px;
    }
    }
    @media  screen and (max-width:500px) {
        .mid-text h1{
            font-size: 30px;
            line-height: 50px;
        }
        .mid-text p{
            font-size: 1rem;
            line-height: 24px;
            letter-spacing: .5px;
        }
        .mid-top-btn{
            width: 100%;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 1.5rem;
        }
        .mob-only img{
            height: 200px;
        }
        .first{
            margin-bottom: 2rem;
        }
        .one,.two,.three,.four{
            width: fit-content;
        }
    }
    @media screen and (max-width:360px){
        .mob-only img{
            height: 150px;
        }
    }
